@import '../../../constants/screensWidth.css';

.container {
    display: flex;
    margin-top: 5px;
    border: 2px solid black;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
}

.image {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    align-self: center;
    width: 100px;
    border: 2px solid black;

    @media (min-width: tablet) {
        width: 150px;
    }

    @media (min-width: desktop) {
        width: 220px;
    }

    @media (min-width: desktop_large) {
        width: 250px;
    }
}

.infoContainer {
    display: flex;
    flex-direction: column;
    padding: 7px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.price {
    font-size: 20px;
}

.title {
    font-size: 14px;
    padding-top: 10px;
}

a {
    text-decoration: none;
}
