.container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dataInput {
    height: 30px;
    width: 100%;
    border: 2px solid black;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 5px;

    &:focus {
        outline: none;
    }
}

.button {
    height: 35px;
    margin-top: 2px;
    margin-right: 16px;
    border: 2px solid black;
    background-color: white;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 4px 4px 0px -1px #000000;

    &:focus {
        outline: none;
    }

    &:hover {
        background: rgb(173, 173, 173);
    }
}
