@import '../../constants/screensWidth.css';

.wrapper {
    margin-left: 15px;
    margin-right: 15px;

    @media (min-width: tablet) {
        margin-left: 16px;
        margin-right: 16px;
    }

    @media (min-width: desktop) {
        max-width: 600px;
        margin: 0 auto;
    }

    @media (min-width: desktop_large) {
        max-width: 700px;
        margin: 0 auto;
    }
}
