.linkStyle {
    padding-right: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.linkStyle:hover {
    border-bottom: 1px solid black;
}

.activeLink {
    color: blue;
    border-bottom: 1px solid black;
}

.navBlock {
    display: flex;
    justify-content: center;
}
